.navbar {
  position: sticky;
  top: 0;
  z-index: 1000; /* Keeps it above other content */
  background-color: black;
  color: white;
  padding: 10px;
}

.navbar h1{
    text-align: center;
}

navbar.a {
    float: right;
}


.btn {
    color: white;
    background-color: #04AA6D;
    padding: 10px 10px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;

}

.row {
    display: flex;
    flex-direction: row;
    gap: 0px;
}

.cell {
    padding: 8px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    text-align: center;
    min-width: 80px;
}

.header {
    font-weight: bold;
    background-color: #ddd;
}

.search-container {
    display: flex;
    justify-content: center;
    margin: 5px auto;
    align-items: center; /* Center rows horizontally */

}

#query {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
    font-size: 16px;
}

#find {
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: #007BFF;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#find:hover {
    background-color: #0056b3;
}

.footer {
  text-align: center;
  padding: 15px 0;
  background-color: #000000;
  color: #7a7a7a;
  font-size: 14px;
  border-top: 1px solid #ccc;
  margin-top: 40px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

.main {
  flex: 1; /* Pushes footer to bottom if content is short */
}
